<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Sm\MegaMenu\Block\MegaMenu\View" type="BG\Custom\Plugin\Block\MegaMenu\View" />
	<preference for="Amasty\Gdpr\Block\AccountLinkPlugin" type="BG\Custom\Block\AccountLinkPlugin" />
	<preference for="Sm\Market\Controller\Cms\Index" type="BG\Custom\Controller\Cms\Index" />
	<preference for="Magento\Review\Block\Product\ReviewRenderer" type="BG\Custom\Block\Product\ReviewRenderer" />
	<!-- <preference for="Mageplaza\Sitemap\Block\Sitemap" type="BG\Custom\Block\Sitemap" /> -->
</config>