<div data-role="amasty-gdpr-consent">
    <div class="amasty-gdpr-consent required" data-bind="visible: isVisible">
        <input type="checkbox"
               value="1"
               class="required-entry"
               data-bind="attr: {'title': getTitle(), 'name': getNewId(), 'id': getId()}"
               data-validate="{required:true}" />
        <label data-bind="attr: {'for': getId()}">
            <span class="action" data-bind="html: checkboxText, afterRender: initModal"></span>
        </label>
    </div>
</div>
