<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Welcome to %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars { 
"var this.getUrl($store, 'customer/account/')":"Customer Account URL", 
"var customer.email":"Customer Email", 
"var customer.name":"Customer Name" 
} @-->
{{template config_path="design/email/header_template"}}

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
        <tr>
            <td valign="left" align="left" style="font-size:18px;line-height:28px;color:#333333;text-decoration:none;letter-spacing:0px;padding-bottom:20px">
                {{trans "Dear"}} <strong style="color:#114745;font-weight:bolder">{{trans "%name," name=$customer.name}}</strong>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" style="font-size:14px;text-decoration:none;color:#000000;line-height:1.3;padding-bottom:20px">
                {{trans "Welcome to %store_name." store_name=$store.getFrontendName()}}
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" bgcolor="#114745" style="font-size:14px;text-decoration:none;color:#000000;line-height:1.5;padding: 15px 20px;color:#fff;border-radius:5px;background-color:#114745;">
                <p>{{trans
			        'To sign in to our site and set a password, click on the <a href="%create_password_url" style="color:#ffffff;font-weight:bold;text-decoration:underline;">link</a>:'

			        create_password_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
			    |raw}}</p>
                <strong>{{trans "Email:"}}</strong> {{var customer.email}}
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" style="font-size:14px;text-decoration:none;color:#000000;line-height:1.3;padding-top:20px;">
                <p>{{trans "When you sign in to your account, you will be able to:"}}</p>
                <ul style="margin: 0 0 0 18px; padding: 0;">
                    <li>{{trans "Proceed through checkout faster"}}</li>
                    <li>{{trans "Check the status of orders"}}</li>
                    <li>{{trans "View past orders"}}</li>
                    <li>{{trans "Store alternative addresses (for shipping to multiple family members and friends)"}}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

{{template config_path="design/email/footer_template"}}