<?xml version="1.0"?>
<!--
/**
 * @author Aitoc Team
 * @copyright Copyright (c) 2019 Aitoc (https://www.aitoc.com)
 * @package Aitoc_OrdersExportImport
 */
-->
<!--
/**
 * Copyright © Aitoc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Aitoc_OrdersExportImport::manage" title="Orders Export Import (by Aitoc)" sortOrder="900">
                        <resource id="Aitoc_OrdersExportImport::profile" title="Aitoc Export Profiles" translate="title" sortOrder="10"/>
                        <resource id="Aitoc_OrdersExportImport::export" title="Aitoc Export History" translate="title" sortOrder="30"/>
                        <resource id="Aitoc_OrdersExportImport::import" title="Aitoc Import Profiles" translate="title" sortOrder="50"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Aitoc_OrdersExportImport::aitoie"
                                      title="Aitoc: Orders Export &amp; Import" sortOrder="50"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
